{% extends 'base.html' %}

{% block title %}コンディションログ{% endblock %}
{% block h1 %}コンディションログ{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="p-4 m-4 bg-light border border-success rounded form-group">
    {% csrf_token %}
    <label>日付</label>
    <input class="form-control" value="{{ sleepLog.date }}" readonly>
    <label>星の数</label>
    <select class="form-control" name="rate">
      <option value="0">0 (最低)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3" selected>3 (普通)</option>
      <option value="4">4</option>
      <option value="5">5 (最高)</option>
    </select>
    <label>メモ</label>
    <textarea class="form-control" name="text" rows="3"></textarea>
    <input type="hidden" name="sleepLogId" value="{{ sleepLog.id }}">
    <button type="submit" class="btn btn-success mt-4">投稿する</button>
  </form>
{% endblock %}