{% extends 'base.html' %}

{% block title %}sleeplogDelete{% endblock title %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <ul>
            <li>{{ sleeplogDelete.userId }}</li>
            <li>{{ sleeplogDelete.date }}</li>
            <li>{{ sleeplogDelete.staDateTime }}</li>
            <li>{{ sleeplogDelete.endDateTime }}</li>
            <li>{{ sleeplogDelete.sleepingTime }}</li>
        </ul>
        <button type="submit">delete this record</button>
    </form>
    <a href="{% url 'index' %}" class="btn btn-primary">一覧</a>
    <a href="{% url 'detail' sleeplogDelete.pk %}" class="btn btn-primary">detail</a>
{% endblock content %}