{% extends 'base.html' %}

{% block title %}sleeplogUpdate{% endblock title %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn smallbtn rounded-pill bg-secondary" value="submit">
    </form>
    <br>
    <a href="{% url 'index' %}" class="btn smallbtn rounded-pill bg-secondary">一覧</a>
    <a href="{% url 'detail' sleeplogUpdate.pk %}" class="btn smallbtn rounded-pill bg-secondary">detail</a>
{% endblock content %}